@bg-color: #f0f2f5;
@bg-color-container: #444;
@green: #228b22;

.clickable {
  cursor: pointer;
}

/** APP **/
.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: @bg-color-container;
  border-radius: 0.5rem;
  min-width: 1024px;
  background-color: @bg-color;
}

.app-container {
  width: 80%;
}

/** HEADER **/
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: @bg-color-container;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.header-content {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.header-content__text {
  &.ant-typography {
    color: @bg-color;
  }
}

.header-content__text-a {
  &.ant-typography {
    color: @green;
  }
}

/** SIDER **/
.sider {
  width: 25%;
  height: 38rem;
  background-color: @bg-color-container;
  border-radius: 0.5rem;
  margin: 2rem;
}

/** CONTENT **/
.content {
  height: 38rem;
  background-color: @bg-color-container;
  border-radius: 0.5rem;
  margin: 2rem;
}

.content-container {
  display: flex;
}

.content-card {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.content-card__img {
  height: 200px;
  margin: 1rem;
  border-radius: 1rem;
}

.content-card__list {
  width: 70%;
}

/** LIST **/
.list-item__text {
  &.ant-typography {
    color: @bg-color;
  }
}

/** MARGINS **/
.margin-left1 {
  margin-left: 1rem;
}
